
/*Menu3*/

.menu_bloc{
    background: #F9F9F9;
    font-family: 'Caveat', cursive;
}

/*main menu title*/
.first_title{
    font-size: 1.7em;
    font-family: 'Dancing Script', cursive;
    background: -webkit-linear-gradient(45deg, #0431DF, #0887FB 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.head img{
    width: 75px;
}

/*menu title*/
.menu_title h4{
    margin-right: 20px;
    margin-left: 20px;
    white-space: nowrap;
    font-size: 1.5em;
    font-weight: normal;
}

.ligne{
    height: 8px;
    max-width: 100%;
}

/*animation*/

/*title N1*/
.soulignement_1:after{
    background: #0228DD;
  }
   
  .soulignement_1:hover:after{
    background: #0228DD;
  }

  /*title N2*/
  .soulignement_2:after{
    background: #0670F3;
  }
   
  .soulignement_2:hover:after{
    background: #0670F3;
  }

  /*title N3*/
  .soulignement_3:after{
    background: #229DF9;
  }
   
  .soulignement_3:hover:after{
    background: #229DF9;
  }

  /*menu content*/

  .entree_content, .plat_content, .dessert_content{
    line-height: 80%;
    width: 85%;
    margin: auto;
}

.menu_line{
    font-size: 1.4em;
}