
/*Menu*/
.menu_bloc{
    background: #FDFFFD;
    font-family: 'Caveat', cursive;
}

/*main menu title*/
.first_title{
    font-size: 1.7em;
    background: -webkit-linear-gradient(45deg, #3D9339, #BFFF7E 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

/*menu title*/
.menu_title h4{
    margin-right: 20px;
    margin-left: 20px;
    white-space: nowrap;
    font-size: 1.5em;
    line-height: 40%;
}

/*animation*/
.soulignement:after{
    background: #A9ED74;
  }
   
.soulignement:hover:after{
    background: #A9ED74;
}

/*menu content*/

.menu_line{
    font-size: 1.4em;
}

.entree_content, .plat_content, .dessert_content, .menu_line{
    line-height: 80%;
    width: 85%;
    margin: auto;
}

