/*main style*/
body{
    margin: 0px;
	padding: 0px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    width: 100%;
    height: 100%;
    background: white;
    margin: auto;
}

/*header*/
header{
    background: #599b86;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    position: relative;
    top: 0;
}

/*ohmyfood title*/
header{

    text-align: center;
    margin-top: 0;
    line-height: 200%;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -4px;
    text-decoration: none;
}

header a{
    text-decoration: none;
    color: #fecb44;
}
/*footer*/
footer{
    position: fixed;
    bottom: 0;
    background: #599b86;
    width: 100%;
    height: 50px;
    margin: 0 0 0 0;
}

footer a{
    color: #fecb44;
    text-decoration: none;
    font-size: 1.4em;
    line-height: 230%;
    margin: 0 20px 0 20px;
    position: absolute;
}

.mentions{
    left: 0;
}

.contact{
    right: 0;
}


footer a:hover{
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    }
    
    @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }


/*Menu1*/

.main_title{
    text-align: center;
    font-size: 1.4em;
}

.menu_bloc{
    margin: auto;
    margin-bottom: 100px;
    max-width: 700px;
    padding: 70px;
    box-shadow: 0px 0px 15px grey;
}

.menu_bloc_marging{
    margin: 30px;
}


.head, .pied_page{
    text-align: center;
    font-size: 2em;
}

/*main menu title*/
.first_title{
    font-size: 1.5em;
}
.head img{
    width: 75px;
}

/*menu title*/
.menu_title{
    text-align: center;
    font-size: 1.4em;
    margin-top: 40px;
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

.menu_title h4{
    margin-right: 20px;
    margin-left: 20px;
    white-space: nowrap;
}


.menu_title img{
    height: 7px;   
}

/*animation*/
.soulignement, .soulignement_1, .soulignement_2, .soulignement_3{
    position: relative;
}
.soulignement:after, .soulignement_1:after, .soulignement_2:after, .soulignement_3:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    transition: width .4s ease;
    -webkit-transition: width .4s ease;
    margin-top:-28px;
  }
   
  .soulignement:hover:after, .soulignement_1:hover:after, .soulignement_2:hover:after, .soulignement_3:hover:after{
    margin-top: -28px;
    width: 100%;
    left: 0;
  }

/*menu content*/
.menu_line{
    display: flex;
    justify-content: space-between;
}

.price{
    font-weight: bold;
    white-space: nowrap;
}

.entree_content, .plat_content, .dessert_content{
    line-height: 80%;
}


/*Pied de page*/
.pied_page_content{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.note2{
    margin-right: 20px;
    width: 30px;
    height: 40px;
}

/*media queries*/

@media screen and (max-width: 800px){

    .main_title{
        font-size: 1.2em;
    }

    .menu_line{
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    .menu_title img{
        display: none;
    }

    .menu_title{
        margin: auto;
        justify-content: center;
    }

    .entree_content, .plat_content, .dessert_content{
        line-height: 80%;
        width: 100%;
        margin: auto;
    }

    .entree_content p, .plat_content p, .dessert_content p{
        line-height: 150%;
    }
}

@media screen and (max-width: 500px){

    footer a{
        font-size: 1em;
        line-height: 350%;
    }

    .first_title{
        font-size: 1.2em;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .menu_title{
        font-size: 1.1em;
        line-height: 200%;
    }
    .menu_bloc{
    padding: 10px;
    }

    .menu_bloc_marging{
        margin: 15px;
    }
}