
/*Menu1*/

.menu_bloc{
    background: #FCDFDB;
    color: #3C1218;
}

.head, .pied_page{
    font-family: "Devonshire";
    text-align: center;
    font-size: 2em;
}

/*main menu title*/
.first_title{
    font-size: 1.5em;
}
.head img{
    width: 75px;
}

/*menu title*/
.menu_title{
    font-family: "Tillana";
}

/*animation*/
.soulignement:after{
    background: #3C1218;
    margin-top:-28px;
  }
   
  .soulignement:hover:after{
    margin-top: -28px;
    background: #3C1218;
  }

/*menu content*/
.menu_line{
    font-family: "Tillana";
}

/*Pied de page*/
.pied_page_content{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.note2{
    margin-right: 20px;
    width: 30px;
    height: 40px;
}

