
/*Menu2*/

.menu_bloc{
    background: #FFF5FE;
    font-family: "Croissant One";
}

/*main menu title*/
.first_title{
    font-size: 1.4em;
    background: -webkit-linear-gradient(45deg, #D8852E, #905BFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 75px;
}

/*menu title*/
.menu_title img{
    height: 10px;
}

/*animation*/
/*title N1*/
.soulignement_1:after{
    background: #C67412;
  }
   
  .soulignement_1:hover:after{
    background: #C67412;
  }

  /*title N2*/
  .soulignement_2:after{
    background: #A56799;
  }
   
  .soulignement_2:hover:after{
    background: #A56799;
  }

  /*title N3*/
  .soulignement_3:after{
    background: #6E4CCC;
  }
   
  .soulignement_3:hover:after{
    background: #6E4CCC;
  }

/*menu content*/
.entree_bloc{
    color: #C67412;
}

.plat_bloc{
    color: #A56799;
}

.dessert_bloc{
    color:#6E4CCC;
    margin-bottom: 50px;
}
